services:
  invoice-processor:
    # Esta es la imagen que el script de deploy descargará de Docker Hub
    image: ${{ secrets.DOCKERHUB_USERNAME }}/invoice-processor:latest
    container_name: invoice-processor
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      # La aplicación buscará secretos en GCP
      - SECRET_ORIGIN=gcp 
      # El project ID sigue siendo necesario
      - GCP_PROJECT_ID=notorios
    # No hay sección 'volumes' ni 'GOOGLE_APPLICATION_CREDENTIALS',
    # permitiendo que la autenticación ocurra automáticamente a través 
    # del Service Account de la VM.
